In [2]:
import pandas as pd
df = pd.read_csv("weather_data.csv")

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
# data frame can also be made with dictionary

new_data = {
    'day':[1,2,3,4,5],
    'month':[1,2,3,4,5],
    'year':[2000,2001,2002,2003,2004],
}

df2 = pd.DataFrame(new_data)
df2

   day  month  year
0    1      1  2000
1    2      2  2001
2    3      3  2002
3    4      4  2003
4    5      5  2004

In [9]:
rows,column = df.shape
print(rows,column)

6 4

In [11]:
print(df.head(2)) # prints the 1st 2 rows
print(df.tail(2)) # prints the last 2 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
df[:] # prints everyting

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
df[2:5] # rows 2 to 4

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [14]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [16]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [17]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [18]:
type(df['event'])

pandas.core.series.Series

In [19]:
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [22]:
# operation

#max temp in dataset

df['temperature'].max()

35

In [23]:
df['temperature'].mean()

30.333333333333332

In [24]:
df.describe() # stats on the data

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
# conditional select on datafames