In [1]:
import numpy as np
import pandas as pd

In [17]:
data = pd.read_csv("Candidate.csv")
data

  state AccountType  Education  Employment Application on  Y/N
0    MP         NaN   Bachelor    Employed         Online  Yes
1    MP     Savings  Doctorate  Unemployed        Offline   No
2    MP     Savings   Bachelor    Employed         Online  Yes
3    MH     Current     Master    Employed         Online   No
4    MP         NaN  Doctorate    Employed         Online  Yes
5    MP     Savings  Doctorate  Unemployed         Online  Yes
6    MP         NaN     Master  Unemployed        Offline   No

In [21]:
concepts = np.array(data)[:,0:-1]
target = np.array(data)[:,-1]

print(concepts,"\n")
print(target)

[['MP' nan 'Bachelor' 'Employed' 'Online']
 ['MP' 'Savings' 'Doctorate' 'Unemployed' 'Offline']
 ['MP' 'Savings' 'Bachelor' 'Employed' 'Online']
 ['MH' 'Current' 'Master' 'Employed' 'Online']
 ['MP' nan 'Doctorate' 'Employed' 'Online']
 ['MP' 'Savings' 'Doctorate' 'Unemployed' 'Online']
 ['MP' nan 'Master' 'Unemployed' 'Offline']]

['Yes' 'No' 'Yes' 'No' 'Yes' 'Yes' 'No']

In [66]:
def learn(con,tar):
    #initialize sh
    sh = con[0].copy()
    #initialize gh
    gh = [['?' for i in range(len(sh))] for i in range(len(sh))]
    print("sh: ",sh,"\n")
    print("gh: ",gh,"\n")
    
    i=0
    for i,h in enumerate(con):
        if tar[i] == 'Yes':
            for x in range(len(sh)):
                if h[x] != sh[x]:
                    sh[x] = '?'
                    gh[x][x] = '?'
        
        if tar[i] == 'No':
            for x in range(len(sh)):
                if h[x] != sh[x]:
                    gh[x][x] = sh[x]
                else:
                    gh[x][x] = '?'
    
    print("general:",gh)
    print("specific:",sh)
    
learn(concepts,target)

sh:  ['MP' nan 'Bachelor' 'Employed' 'Online']

gh:  [['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]

general: [['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', 'Online']]
specific: ['MP' '?' '?' '?' 'Online']

In [67]:
df = pd.read_csv("Fungus.csv")
df

   Sno  colour Toughness Fungus Appearance Poisonous
0    1   Green      Hard     No   Wrinkled       Yes
1    2   Green      Hard    Yes     Smooth        No
2    3   Brown      soft     No   Wrinkled        No
3    4  Orange      Hard     No   Wrinkled       Yes
4    5  Green       soft    Yes     Smooth       Yes
5    6   Green      Hard    Yes   Wrinkled       Yes
6    7  Orange      Hard     No   Wrinkled       Yes
7    8   Green      Hard     No   Wrinkled        No

In [68]:
con = np.array(df)[:,1:-1]
tar = np.array(df)[:,-1]

print(con,"\n")
print(tar)

[['Green' 'Hard' 'No' 'Wrinkled']
 ['Green' 'Hard' 'Yes' 'Smooth']
 ['Brown' 'soft' 'No' 'Wrinkled']
 ['Orange' 'Hard' 'No' 'Wrinkled']
 ['Green ' 'soft' 'Yes' 'Smooth']
 ['Green' 'Hard' 'Yes' 'Wrinkled']
 ['Orange' 'Hard' 'No' 'Wrinkled']
 ['Green' 'Hard' 'No' 'Wrinkled']]

['Yes' 'No' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'No']

In [69]:
learn(con,tar)

sh:  ['Green' 'Hard' 'No' 'Wrinkled']

gh:  [['?', '?', '?', '?'], ['?', '?', '?', '?'], ['?', '?', '?', '?'], ['?', '?', '?', '?']]

general: [['?', '?', '?', '?'], ['?', '?', '?', '?'], ['?', '?', '?', '?'], ['?', '?', '?', '?']]
specific: ['?' '?' '?' '?']