If statements

In [10]:
num = input("Enter a number: ")

Enter a number: 19

In [11]:
print(num)

19

In [15]:
num = int(num)
if not num%2 == 0:
    print("The number is odd")
else:
    print("The number is even")
print(num)

The number is odd
19

In [18]:
indian = ["Naan","idli","Dosa","samosa","Puri"]
chinese = ["Noodles","momos","Manchurian","Spring rolls"]
italian = ["Pizza","Pasta","Lasagna"]

food = input("Enter a dish: ")

if food in indian:
    print("Indian")
elif food in chinese:
    print("Chinese")
elif food in italian:
    print("Italian")
else:
    print("Food not in our menu")

Enter a dish: Taco
Food not in our menu

For loop

In [30]:
expense = [267,9872,89787,167,8176,90]
total = 0

for n in expense:
    total = total + n
    
print(total)

108359

In [31]:
for i in range(1,10,2): # range(start val, end val, step val)
    print(i)

1
3
5
7
9

In [32]:
for i in range(len(expense)):
    print("month:",i+1," Expense:",expense[i])

month: 1  Expense: 267
month: 2  Expense: 9872
month: 3  Expense: 89787
month: 4  Expense: 167
month: 5  Expense: 8176
month: 6  Expense: 90

In [33]:
tot = 0
for i in expense:
    if(tot > 100000):
        break
    
    tot = tot + i
    
print(tot)

100093

In [35]:
for i in range(1,5): # range excludes second index
    print(i)

1
2
3
4

In [36]:
#skip printing squares of 2
for i in range(1,11):
    if i%2==0:
        continue
    print(i**2) # for squares dont do this, just multiply

1
9
25
49
81

FUNCTIONS

In [7]:
list1 = [100,200,1000]
list2 = [400,500,100,9000]

def calculate_total(exp):
    total = 0 #local variable
    for i in exp:
        total = total + i
    return total

exp1 = calculate_total(list1)
exp2 = calculate_total(list2)

print("Exp1:",exp1," Exp2: ",exp2)


#word = "Hello world"
#ret_word = calculate_total(word)
#print(ret_word)
def summation(a,b):
    return a+b

print(summation(5,6))
print(summation("hello ","world"))

Exp1: 1300  Exp2:  10000
11
hello world

In [11]:
# DEFAULT ARGUMENTS

def sum_two(a=0,b=0):
    return a+b

print("1:",sum_two(5,6))
print("2:",sum_two())
print("3:",sum_two("hello ","world")) # runs without an issue
#print(sum_two("hello ")) results in an error because of mismatching types

1: 11
2: 0
3: hello world

In [12]:
# documentation strings
#----> gives a description of what the function does

def sum_of_three(a=0,b=0,c=0):
    '''
    Gives the sum of at max 3 numerical values or
    Gives the concatenation of exactly 3 strings
    '''
    return a+b+c

print("1: ",sum_of_three(8,9,10))
print("2: ",sum_of_three(3,4))
print("3: ",sum_of_three("hello ","hi ","Bye bye"))

1:  27
2:  7
3:  hello hi Bye bye